.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* align at the top */
  padding-top: 320px; /* fixed spacing */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.room-wrapper {
  position: relative;
  height: 125vh; /* 30% taller than screen */
  aspect-ratio: 16 / 9;
  bottom: 28%;
  will-change: transform; /* added for smoother rise */
}

/* ADD VH MEDIA RULES FOR IPHONE/MOBILE in ROOM WRAPPER */
@media (max-width: 768px) {
  .room-wrapper {
    height: 70vh; /* 30% taller than screen */
    bottom: 28%;
  }
}

.room-base {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Overlay objects positioned relative to the wrapper */
.desk {
  position: absolute;
  top: 18%;
  left: 34%;
  width: 17.5%;
}

.meinchair {
  position: absolute;
  bottom: 60.9%;
  left: 39.5%;
  width: 6.25%;
}

.projectwall {
  position: absolute;
  bottom: 73%;
  left: 53%;
  width: 10%;
}

.door {
  position: absolute;
  right: 27%;
  bottom: 64%;
  width: 5.5%;
}

.mail {
  position: absolute;
  right: 5%;
  bottom: 2%;
  width: 12%;
}
