/* Navbar */
.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-icon {
  cursor: pointer;
  color: rgb(236, 168, 21);
}

.nav-menu {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.nav-menu button {
  background: none;
  color: rgb(236, 168, 21);
  border: none;
  text-align: left;
  padding: 0.25rem 0;
  cursor: pointer;
  font-size: 4rem;
  font-family: "jetbrains mono", monospace;
  font-weight: 800;
  -webkit-text-stroke: 1px rgb(29, 28, 28);
}

.nav-menu button:hover {
  color: #be8f5c;
}
